{% extends "base_profile.html" %}

{% block profile_button %}
  <button type="button" class="btn btn-primary" style="width: 80%" onclick="window.location.href='edit'">
    Edit Profile
  </button>
{% endblock %}

{% block main_content %}
<div class="row">
  </div>
    <section class="container" style="width: 100%; margin: 0; padding: 0; dark" id="main">
      <div class="container py-3 h-100 dark" style="width: 100%">
        <div class="row d-flex justify-content-center align-items-center h-100 dark">
          <div class="col" style="padding: 0; display:flex; flex-wrap: wrap;">
            <div class="card contrast" style="border-radius: 15px; width:50%">
              <div class="card-body p-4">
                <h3 class="mb-3">Company Culture</h3>
                <p class="small mb-0">
                  xx/yy/zz 12:43
                </p>
              </div>
            </div>
             <div class="card contrast" style="border-radius: 15px; width:50%">
              <div class="card-body p-4">
                <h3 class="mb-3">Company Culture</h3>
                <p class="small mb-0">
                  xx/yy/zz 12:43
                </p>
              </div>
            </div>
             <div class="card contrast" style="border-radius: 15px; width:50%">
              <div class="card-body p-4">
                <h3 class="mb-3">Company Culture</h3>
                <p class="small mb-0">
                  xx/yy/zz 12:43
                </p>
              </div>
            </div>
             <div class="card contrast" style="border-radius: 15px; width:50%">
              <div class="card-body p-4">
                <h3 class="mb-3">Company Culture</h3>
                <p class="small mb-0">
                  xx/yy/zz 12:43
                </p>
              </div>
            </div>
             <div class="card contrast" style="border-radius: 15px; width:50%">
              <div class="card-body p-4">
                <h3 class="mb-3">Company Culture</h3>
                <p class="small mb-0">
                  xx/yy/zz 12:43
                </p>
              </div>
            </div>
             <div class="card contrast" style="border-radius: 15px; width:50%">
              <div class="card-body p-4">
                <h3 class="mb-3">Company Culture</h3>
                <p class="small mb-0">
                  xx/yy/zz 12:43
                </p>
              </div>
            </div>
        </div>
      </div>
    </section>
</div>
{% endblock %}