{% extends 'base.html' %}

{% block title %}{{room.name}}{% endblock %}

{% block 'head' %}
  <style>
  html, body, main {
  height: 95%;
  }
      .dark, html, main{
      background-color: #2a2823;
      color: #28a543;
  }
    #main {
      padding: 0;
      width: 100%;
      display: flex;
      margin: 0;
      height: 100%;
    }
    #main div{padding:0}
    #main-title {
      text-align: center;
      margin-bottom: 15px;
    }
    .contrast{
      background-color: #333;
      color: #10dd3c;
    }
    a{
      color: #10dd3c;
      text-decoration: none;
    }
    a:hover{
    }
    .dark, html{
      background-color: #2a2823;
      color: #28a543;
  }
  .form-control{
    background-color: #201f1b;
    color: #218838;
}
.form-control:hover{
    background-color: #242221;
    color: #218838;
}
.form-control:focus{
    background-color: #302e2d;
    color: #218838;
}
.dark-title, .dark-p{
  background-color: #0000009e;
  padding: 2px;
  }
small {
   color: #10cc3c;
}
#users{
  width: 30%;
  height: 100%;
}
#chat {
  width: 70%;
    height: 100%;
  }
  #urs p{
  text-align:left;
  padding: 10px 0 10px 20px;
  margin-bottom: 2px;
  background-color: #0000001f;
  }
  #chat-section p {
    padding: 20px;
    background-color: #0000001f;
    margin: 3px 0 3px 0
  }
  </style>
{% endblock %}

{% block  content %}
<div class="dark" id="main">
    <div class="container dark" id="users" style="overflow-y:scroll; ">
      <div style="height:100%;border: 1px white solid; width: 100%;box-shadow: 1px 1px 2px grey" id="urs">
        <h1 style="text-align:center;">{{room.name}}</h1>
        <p><a href="">{{room.user}}</a></p>
        <p><a href="">{{room.user}}</a></p>
        <p><a href="">{{room.user}}</a></p>
        <p><a href="">{{room.user}}</a></p>
        <p><a href="">{{room.user}}</a></p>
      </div>
    </div>
  <div class="container dark" id="chat">
    <div id="chat-section" style="overflow-y:scroll; height:92%; border: 1px white solid; width: 100%;box-shadow: 1px 1px 2px grey" class="container">
      <p>12:45 {{room.user}}: lol</p> <!--89 max-->
      <p>12:45 {{room.user}}: ashuaashuaashuaashuaasasdsadaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
      <div style="width: 100%; height: 8%; padding:0; display: flex;" class="container">
          <form method="POST" style="width: 100%; display:flex;">
            <input type="text" placeholder="Type your message" style="width: 80%; height: 100%;">
            <button type="submit" class="btn-success" style="width: 20%;">Send</button>
          </form>
      </div>
  </div>

</div>
{% endblock %}