{% extends "base.html" %}
{% block title %}{{user.username}}{% endblock %}

{% block content %}
<br>
<section style="margin: 0 30px 0 30px">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyodLg1AOTOlrYDYjCvjGWZTav_fUeGK92Pw&usqp=CAU"
                   alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.username}}</h5>
              <p class="text-muted mb-4">Lorem ipsum dolor sit amet</p>
              <div class="d-flex justify-content-around mb-2">
                {% if user.username != userpage %}
                  <button type="button" class="btn btn-outline-primary ms-1" style="width: 30%">Message</button>
                  <button type="button" class="btn btn-primary" style="width: 60%">Follow</button>
                {% else %}
                  {% block profile_button %}
                  {% endblock %}
                {% endif %}
              </div>
          </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              {% if user_page.website%}
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-globe fa-lg text-warning"></i>
                      <a class="mb-0" href="{{user_page.website}}">{{user_page.website}}</a>
                    </li>
                  </ul>
                </div>
              {% else %}
                 <div class="card-body p-0" style="border: 0px">
                  <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-left align-items-center p-3">
                      <i class="fas fa-globe fa-lg text-warning"></i>
                      <a class="mb-0" href="http://snake.cloud/{{user_page.name}}">http://snake.cloud/{{user_page.name}}</a>
                    </li>
                  </ul>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-8">
                <div class="flex-nav-card">
                  <a href="" class="flex-nav-card-item">Overview</a>
                  <a href="" class="flex-nav-card-item">Upload Files</a>
                  <a href="" class="flex-nav-card-item">Posted Articles</a>
                  <a href="" class="flex-nav-card-item">Data Cascade</a>
                  <a href="" class="flex-nav-card-item">Gallery</a>
                </div>
            {% block main_content %}
            {% endblock %}
          </div>
        </div>
      </div>
  </section>
  <br><br>
{% endblock %}
